# Data directory (too heavy to put on git)
data/

# Output directory (models, logs, etc.)
output/

# Virtual environment
.venv/

# Misc exclusions
__pycache__/
*.py[cod]
*$py.class
environment.*
*.png
compare_updates_old*
compress*
generate*
inspect*
temp*
visualize*
analyze*
zero*
misc*
*.zip
